body {
  background: #0f0f0f;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  width: 360px;
  box-shadow: 0 0 25px cyan;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.present {
  background: #00ff99;
}

.absent {
  background: #ff4d4d;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  border-bottom: 1px solid #333;
}
